body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.keypad{
    text-align: center;
}

.title{
    text-align: center;
    color: rgb(83, 157, 223);
}

.keypad button{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color:  rgb(83, 157, 223);
    border: none;
    border-radius: 5px;
}

#display{
    text-align: center;
    
    margin-bottom: 1.5rem;
}

#display span{
    display: inline-block;
    width: 80px;
    padding: 1.5rem;
    background-color:  rgb(160, 200, 235);
    border-radius: 10px;
}